.vagrant
*.vdi
id_rsa*
id_rsa.pub
**/temp
*.key
*.cert
*.pem
otus-linux-adm
.vscode
Project/terraform/terraform.tfvars
.DS_Store
.env
.env.*
*.env
Project/ansible/.smtp.env
**/.terraform/*
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/*.tfstate
**/*.tfstate.*
