services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_USER: postgres
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data
    command:
      - postgres
      - -c
      - listen_addresses=*
      - -c
      - wal_level=replica
      - -c
      - max_wal_senders=5
      - -c
      - wal_keep_size=64MB
      - -c
      - hot_standby=on
    ports:
      - "5432:5432"
