#!/usr/sbin/nft -f

flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0; policy drop;

        # Разрешить loopback
        iif lo accept

        # Разрешить established
        ct state established,related accept

        # ICMP
        ip protocol icmp accept

        # SSH с любого интерфейса (для управления)
        tcp dport 22 accept
    }

    chain output {
        type filter hook output priority 0; policy accept;
    }
}
